@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import "components/effect";
@import "components/modal";
@import "components/nprogress";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  @apply transition bg-pal-white dark:bg-pal-darkest;
}

html {
  &.dark {
    @apply bg-pal-darkest;
  }
}

main, section, footer {
  position: relative;
}

a {
  @apply transition cursor-pointer text-pal-darker hover:text-pal-primary dark:text-pal-white dark:hover:text-pal-primary;
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.bg {
  @apply transition bg-pal-white dark:bg-pal-darkest;
}

.typo {
  @apply transition text-pal-black dark:text-pal-white;
}

.title {
  @apply text-center text-2xl sm:text-3xl lg:text-4xl;
}

.subtitle {
  @apply pb-2 text-lg font-medium text-pal-black dark:text-pal-white border-b-2 border-pal-primary border-opacity-25;
}

.btn {
  @apply transition py-1 px-4 rounded shadow-md select-none bg-pal-darker dark:bg-pal-lighter dark:hover:bg-pal-primary text-pal-white dark:text-pal-darkest hover:bg-pal-primary focus:ring;
  outline: none !important;

  &--icon {
    @apply rounded-full h-10 w-10 p-1;
  }

  &--flat {
    @apply shadow-none hover:shadow-md bg-transparent dark:bg-transparent text-pal-black dark:text-pal-white hover:text-pal-white;
  }

  &--active {
    @apply shadow-md bg-pal-primary dark:bg-pal-primary text-pal-white;
  }

  &--danger {
    @apply bg-red-500 dark:bg-red-500 hover:bg-red-600 dark:hover:bg-red-600 text-pal-white dark:text-pal-white;
  }
}

.input {
  @apply transition p-2 text-sm shadow-inner rounded-md border border-pal-lighter dark:border-pal-darker dark:border-opacity-50 focus:border-pal-primary dark:text-pal-white dark:focus:border-pal-primary bg-white bg-opacity-50 dark:bg-pal-primary dark:bg-opacity-25 focus:outline-none focus:ring focus:ring-pal-primary;

  &::placeholder {
    @apply text-pal-primary opacity-75;
  }

  min-height: 2.5rem;
  resize: none;
  backdrop-filter: blur(5px);

  &--circular {
    @apply rounded-full;
  }
}

.card {
  @apply transition p-2 md:p-4 text-pal-black dark:text-pal-white bg-pal-white dark:bg-pal-darker shadow-lg rounded-lg;

  &--transparent {
    @apply bg-opacity-75 dark:bg-opacity-75;
  }

  &--glass {
    @apply bg-opacity-50 bg-white dark:bg-pal-darker dark:bg-opacity-50;
    backdrop-filter: blur(5px);
  }

  &--mobile-square {
    @apply rounded-none sm:rounded-lg;
  }

  &--square {
    @apply rounded-none;
  }

  &--padding-sm {
    @apply p-2;
  }

  &--padding-lg {
    @apply p-4 md:p-8;
  }
}

.modal {
  .modal__frame {
    @apply transition shadow-lg bg-white dark:bg-pal-darkest dark:text-pal-white;
  }

  .modal__bg {
    @apply transition bg-opacity-25 bg-pal-darker dark:bg-pal-black dark:bg-opacity-25;
  }
}

.custom-table {
  @apply overflow-x-auto;

  table {
    @apply min-w-full;

    thead {
      @apply transition shadow bg-white dark:bg-pal-darker;

      tr {
        th {
          @apply transition px-6 py-3 text-left text-xs font-medium text-pal-darker dark:text-pal-white uppercase tracking-wider;
        }
      }
    }

    tbody {
      @apply transition bg-pal-white bg-opacity-50 dark:bg-pal-darkest dark:bg-opacity-50;

      tr {
        td {
          @apply px-6 py-4 text-sm whitespace-nowrap;
          @apply border-b border-gray-200 dark:border-pal-darkest dark:border-opacity-50;
        }
      }
    }
  }
}

.timeline {
  @apply py-24 relative flex flex-col;

  &:before {
    @apply absolute top-0 inset-y-0 h-full bg-pal-primary;

    content: ' ';
    border-radius: 0.25rem;
    width: 0.25rem;
    left: calc(50% - 0.125rem);
  }

  &__content {
    @apply relative w-full max-w-lg even:self-end;

    &:before {
      @apply hidden xl:block absolute inset-x-0 w-full bg-pal-primary;

      content: ' ';
      border-radius: 0.75rem;
      width: 50%;
      height: 0.25rem;
      top: calc(10rem - 0.125rem);
      left: calc(640px - 50% - 1rem);

      @screen 2xl {
        left: calc(768px - 50% - 1rem);
      }
    }

    &:after {
      @apply hidden xl:block absolute inset-x-0 h-80 w-full bg-pal-primary;

      content: ' ';
      border-radius: 0.75rem;
      width: 1rem;
      height: 1rem;
      top: calc(10rem - 0.5rem);
      left: calc(640px - 1.5rem);
      box-shadow: 0 0 20px 10px var(--color-pal-primary);

      @screen 2xl {
        left: calc(768px - 1.5rem);
      }
    }

    &:nth-child(even) {
      &:before {
        left: auto;
        right: calc(640px - 50% - 1rem);

        @screen 2xl {
          right: calc(768px - 50% - 1rem);
        }
      }

      &:after {
        left: auto;
        right: calc(640px - 1.5rem);

        @screen 2xl {
          right: calc(768px - 1.5rem);
        }
      }
    }
  }

  &__tilt {
    @apply relative h-80 select-none cursor-pointer;
  }

  &__title {
    @apply p-2 lg:p-0 bg-pal-primary lg:bg-transparent rounded-md title;
  }
}

@layer utilities {
  @variants dark {
    .bg-navbar {
      @apply shadow-lg bg-white bg-opacity-50;
      transition: all 400ms ease-in-out;
      backdrop-filter: blur(10px);

      &--none {
        @apply shadow-none bg-transparent;
        backdrop-filter: blur(0);
      }

      &--dark {
        @apply bg-black bg-opacity-50;
      }
    }

    .bg-gradient {
      @apply transition absolute inset-0 w-screen min-h-screen;
      background: linear-gradient(180deg, var(--color-pal-white) 0%, #ffffff00 20%, #ffffff00 80%, var(--color-pal-white) 100%);

      &--dark {
        background: linear-gradient(180deg, var(--color-pal-darkest) 0%, #00000000 20%, #00000000 80%, var(--color-pal-darkest) 100%);
      }
    }

    .bg-wave-pattern {
      @apply transition absolute inset-0 w-screen min-h-screen;

      background-color: var(--color-pal-white);
      opacity: 0.15;
      background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-pal-white) 2rem), repeating-linear-gradient(var(--color-pal-primary), var(--color-pal-primary));

      &--dark {
        background-color: var(--color-pal-darkest);
        background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-pal-darkest) 2rem), repeating-linear-gradient(var(--color-pal-primary), var(--color-pal-primary));
      }
    }

    .bg-circular-pattern {
      @apply transition absolute inset-0 w-screen min-h-screen;

      background-color: var(--color-pal-white);
      opacity: 0.2;
      background-blend-mode: multiply;
      background-image: radial-gradient(circle at center center, var(--color-pal-primary), var(--color-pal-white)), repeating-radial-gradient(circle at center center, var(--color-pal-primary), var(--color-pal-primary), 35px, transparent 70px, transparent 35px);

      &--dark {
        opacity: 1;
        background-color: var(--color-pal-darkest);
        background-image: radial-gradient(circle at center center, var(--color-pal-primary), var(--color-pal-darkest)), repeating-radial-gradient(circle at center center, var(--color-pal-primary), var(--color-pal-primary), 35px, transparent 70px, transparent 35px);
      }
    }

    .bg-animated {
      @apply absolute inset-0 w-screen min-h-screen object-cover;
      filter: opacity(0.3) invert(1) hue-rotate(180deg);

      &--dark {
        filter: opacity(0.3);
      }
    }
  }
}

.run-toasty {
  animation-name: toasty;
  animation-duration: 3s;
  transform: translate(10rem, 10rem);
}

@keyframes toasty {
  0% {
    transform: translate(10rem, 10rem);
  }

  20% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10rem, 10rem);
  }
}
